[main]
Description=The CS Department VPN
Host=194.42.17.66
AuthType=1
GroupName=CSatUCyVPN
GroupPwd=
enc_GroupPwd=442BB4290161A00C6DDFB3BF6EBD2FD18B13CB2D3064E1632C97ACC0F73776BCD48221974B2A1D449A050DC6FEFF344A753206F1BC4471E9
EnableISPConnect=0
ISPConnectType=0
ISPConnect=0
ISPPhonebook=
ISPCommand=
Username=fotis
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
